<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>ru.job4j.todo.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.todo.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ToDoServlet</servlet-name>
        <servlet-class>ru.job4j.todo.ToDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToDoServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>ru.job4j.todo.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>ru.job4j.todo.UpdateItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.job4j.todo.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin Controller</servlet-name>
        <servlet-class>ru.job4j.todo.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin Controller</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signout Controller</servlet-name>
        <servlet-class>ru.job4j.todo.SignoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signout Controller</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

</web-app>